.footer {
  display: grid;
  text-align: center;
  color: #888888;
  margin-bottom: 30px;
  border-top: #888888 0.5px solid;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 180px;
  margin-bottom: 20px;
  grid-template-columns: 1.2fr 1fr;
}

.vishnu {
  padding: 50px 200px;
  border-right: #888888 0.5px solid;
}

.footer__title {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 20px;
}

.footer__subtitle {
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
}

.contact_credit {
  margin: 40px 40px;
  text-align: left;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.contact__title {
  font-weight: 500;
  font-style: italic;
}

.contact {
  display: grid;
  margin-top: 25px;
  grid-template-columns: 1fr 1fr;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
}

.credit__title {
  font-weight: 500;
  font-style: italic;
}

.credit {
  font-size: 13px;
  margin-top: 25px;
  font-weight: 300;
  font-style: italic;
}
