.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-image {
  width: 322px;
  height: auto;
  margin-top: 30px;
}

.title-input {
  position: relative;
  top: -20px;
  width: 460px;
  height: 40px;
  background: #ffffff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: none;
  font: inherit;
  font-weight: 300;
  font-style: italic;
}
.title-input:focus {
  outline: none;
}
.title input {
  background: url("../assets/finder.png") no-repeat;
  padding-left: 57px;
  padding-right: 35px;
  background-position: 18px center;
}
