.total-group {
  display: grid;
  justify-content: center;
  margin: 70px 0;
  grid-template-columns: repeat(4, 244.6px);
  column-gap: 17px;
  row-gap: 27px;
}
.group {
  display: flex;
  align-items: center;
  height: 95.5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  font-weight: 300;
  font-size: 14px;
  padding: 0px 16.28px;
  animation-name: fadeInBottom;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.group > * {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
}

.group > div {
  width: 120px;
}

.group > img {
  width: 65.74px;
  height: 65.74px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  margin-right: 19px;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
