.total-group {
  display: grid;
  justify-content: center;
  margin: 70px 0;
  grid-template-columns: repeat(4, 244.6px);
  column-gap: 17px;
  row-gap: 27px;
}

.group {
  opacity: 0;
  display: flex;
  align-items: center;
  height: 95.5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  font-weight: 300;
  font-size: 14px;
  padding: 0px 16.28px;
  animation-name: fadeInBottom;
  animation-duration: 500ms;
  animation-delay: calc(var(--order) * 50ms);
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
  cursor: pointer;
}

.group:hover {
  background-color: #f0f0f0;
}

.group > * {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
}

.group > div {
  width: 120px;
}

.group > img {
  width: 65.74px;
  height: 65.74px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  margin-right: 19px;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .total-group {
    grid-template-columns: repeat(3, 244.6px);
  }
}

@media (max-width: 850px) {
  .total-group {
    grid-template-columns: repeat(2, 244.6px);
  }
}

@media (max-width: 600px) {
  .total-group {
    grid-template-columns: repeat(1, 80%);
  }
  .group > div {
    width: auto;
  }
}
